body{
    font-family: 'Work Sans', sans-serif;
}
#hamsters{
    margin:25px;
}
.logo{
    object-fit: cover;
    width: 400px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    display: block;
}
#sobre{
    margin: 25px;
}
#formulario{
    margin: 25px;
}
footer{
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(40, 90, 97, 0.747);
    padding: 10px;
    color: whitesmoke;
}
.header{
  display: flex;
}
.esquerda{
    position: absolute;
    left: 10px;
    backdrop-filter: blur(5px);
}
.direita{
    position: absolute;
    right: 10px;
    backdrop-filter: blur(5px);
}
ul {
    list-style-type: none;
    
    padding: 0;
    overflow: hidden;
    text-align: center;
    /*margin:0 35%;*/ /*distancia entre linha do logo foi removida*/
    display: flex;
    justify-content: center;
}
  
li {
    float: left;
    color: black;
}
  
li a {
    display: block;
    padding: 8px;
    text-decoration: none;
}
.container {
    margin: 20px;
    position: relative;
    text-align: center;
    color: white;
}
.equiipa{
    filter: blur(4px);
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 20%;
    padding: 20px;
    text-align: center;

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 8px;
    text-align: start;
    box-sizing: border-box;
}
  
  input[type=submit] {
    width: 100%;
    background-color: rgba(43, 57, 58, 0.747);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgba(43, 57, 58, 0.747);
  }
  
  .row {
    content: "";
    clear: both;
    display: table;
    margin: 0 auto;
    position: 0 20 px;
  }

  .column {
    float: left;
    width: 23%;
    margin-bottom: 5px;
    padding: 0 8px;
    margin: auto;
  }

  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container1 {
    padding: 0 10px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  .center {
    align-items: center;
    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
}
